<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Lunches</title>
	</head>
		<meta charset="utf-8">
		<title>Programing Platform</title>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
		    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    		<script src="newsApp.js"></script>
			{{!-- <link rel="stylesheet" href="../../assets/css/style.css"> --}} 
	<body>
		<h1>Programing Platform</h1>
		{{{ body }}}
	</body>
</html>
